<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
  </header>

</div>
{% section 'slideshow-production' %}
</div>
{% section 'text-with-image-prod-1' %}
</div>
{% section 'text-with-image-prod-2' %}
</div>
{% section 'text-with-image-prod-3' %}

  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  
</div>
{% section 'blog-posts' %}


