<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
  </header>

</div>
{% section 'slideshow-lakoo' %}
</div>
  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
</div>
{% section 'slideshow-lakoo2' %}
</div>
{% section 'shopthelook-lakoo' %}
</div>
{% section 'text-image-lakoo2' %}
</div>
{% section 'text-image-lakoo' %}
</div>
